html {
    height: 100%;

}

body {
    height: 100%;
    background: #0D0D0D;
    font-family: 'Anton', sans-serif;
}

a:link {
    text-decoration: inherit;
    color: inherit;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.nav-bar {
    background: #31731F;
}

.leaflet-container {
    width: 90%;
    height: 90%;
    margin: 0 auto;
}
