{% load static %}
{% load leaflet_tags %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MDC World Map</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    {% leaflet_js %}
    {% leaflet_css %}
</head>
<body>
    <nav class="navbar nav-bar no-select">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/logo.jpg' %}" height="30" alt="MDC logo">
            Media Death Cult World Map
        </a>
        <a class="navbar-brand" href="/marker">
            <input type="button" class="btn btn-dark" value="LEAVE YOUR MARK" />
        </a>
        <a class="navbar-brand" href="https://www.youtube.com/c/MovieDeathCult/featured">
            <img src="{% static 'images/youtube.png' %}" height="30" alt="MDC logo">
            YouTube
        </a>
        <a class="navbar-brand" href="https://discord.com/invite/zzXsc9x">
            <img src="{% static 'images/discord.png' %}" height="30" alt="MDC logo">
            Discord
        </a>
        <a class="navbar-brand" href="https://www.patreon.com/mediadeathcult">
            <img src="{% static 'images/patreon.png' %}" height="30" alt="MDC logo">
            Patreon
        </a>
    </nav>
    {% block content %}
    {% endblock %}
    <script lang="js" src="{% static 'javascript/main.js' %}"></script>
    <noscript>Your browser does not support JavaScript.</noscript>
</body>
</html>
