{% extends 'map/main.html' %}
{% load static %}

{% block content %}

<div id="map"></div>

<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNZuVOra51p4P_pSwKS_GxOUXqEs0hzDo&callback=initialize" async defer>
</script>

<script>

        let map;
        let markers = [];

        function initialize() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: new google.maps.LatLng(31.7771, -40.24965),
                zoom: 3,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            var request = new XMLHttpRequest();
            request.open('GET', '/locations', true);
            request.onload = function() {
                if (request.status >= 200 && request.status < 400) {
                    let data = JSON.parse(request.responseText);
                    data.forEach(function() {
                        markers.push(
                            new google.maps.Marker({
                                position: {
                                    lat: parseFloat(data['latitude']),
                                    lng: parseFloat(data['longitude']),
                                },
                                label: data['name'],
                                map: map,
                                icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
                                name: data['name'],
                            })
                        );
                    });
                } else {
                    console.error('ERROR: ' + request.error + ', ' + request.status);
                }
            };
            request.onerror = function() {
                console.error('ERROR: ' + request.error + ', ' + request.status);
            };
            request.send();
        }

</script>

{% endblock %}
