{% extends 'map/main.html' %}
{% load static %}

{% block content %}

<div style="font-size: 1.5rem" class="text-center text-light p-5">
    <form method="POST" action="/">
        {% csrf_token %}
        {{ form }}
        <input id="save-button" type="submit" value="save marker" class="submit btn btn-info" />
    </form>
</div>

<div id="map"></div>

<script
        src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initialize" async defer>
</script>

<script src="{% static 'javascript/main.js' %}"></script>

{% endblock %}
