{% extends 'map/main.html' %}
{% load static %}

{% block content %}

<div style="font-size: 1.5rem" class="text-center text-light p-5">
    <form method="POST" action="/marker">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="add marker" class="submit btn btn-info" />
    </form>
    <p>Note: If the latitude is South, input the number as a negative. If the longitude is West, enter the number as a negative. Otherwise the marker will end up halfway across the globe from where you want it!</p>
</div>

{% endblock %}
